*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

.footerWrapper{
    display: flex;
    justify-content: center;
    border-top: 2px solid #ccc;
    padding: 2rem 0 1.5rem;

    .contentFooter{
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            color: #2c3e50;
            text-align: center;
        }
    }
}