*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

.headerWrapper{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;

    img{
        width: 45%;
    }

    p{
        font-weight: bold;
        color: #2c3e50;
    }

    .sign{
        display: flex;
        align-items: center;

        a{
            color: #303d4e;
            text-decoration: none;
        }

        .userIcon{
            margin-right: 5px;
            width: 20px;
        }

        .iconSignOut{
            width: 15px;
            margin-left: 10px;
            margin-right: 5px;
        }
    }

    .sign-up-icone{
        width: 10%;
    }
}

@media (max-width: 720px) {
    .headerWrapper{

        img{
            width: 65%;
        }

        p{
            width: 70px;
        }
    }
}