*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.userWrapper{

    
    .userContent{
        width: 100%;
        height: 95vh;
        background-color: #100129;
    }
}

@media (max-width: 720px) {
    .userWrapper{

        .userContent{
            height: auto;
            padding-bottom: 15px;
        }
    }
}